@import "./style.css";

:root {
  --primary-background-white-color: #F0EFEE;
  --primary-background-red-color: #7F3E41;
  --primary-font-color-white: #fff;
  --primary-font-color-black: #000;
  --container-width: 1127px;
  --container-padding-x: 0px;
  --border-radius: 1000px;
  --input-height: 35px;
  --input-border-color: #fff;
  --primary-font-size: 16px;
  --font-family-base: 'Inter', sans-serif;
  --font-family-title: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-family-base);
  color: var(--primary-font-color-black);
  background-color: var(--primary-background-white-color);
  font-size: var(--primary-font-size);
  line-height: 1.6;
}

.container {
  max-width: calc(var(--container-width) + (var(--container-padding-x) * 2));
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.welcome-wrapper {
  background-image: url('../img/priscilla-du-preez-I-zSrQnLlX0-unsplash.jpg');
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 870px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-column: 2;
}

.header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 22px;
  grid-column: 3;
}

.header__menu-list {
  display: flex;
  gap: 40px;
  flex-direction: row;
  padding-right: 20px;
}

.header__menu-item {
  line-height: 1.2;
}

.header__menu-link {
  text-decoration: none;
  color: var(--primary-font-color-white);
  font-size: var(--primary-font-size);
  font-family: var(--font-family-base);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 55px;
  min-height: 69px;
}

.header__menu-button {
  padding-inline: 28px;
}

.header__menu-button-white {
  background-color: white;
  color: #000;
  border-radius: 1000px;
  cursor: pointer;
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  border: none;
}

.header__search-link {
  text-decoration: none;
  color: var(--primary-font-color-white);
  font-size: var(--primary-font-size);
  font-family: var(--font-family-base);
  padding: 0 16px;
}

.main__section {
  padding-top: 80px;
  margin-bottom: 80px;
}

.main__section:last-child {
  margin-bottom: 0px;
}

.motherhood-description__content {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  flex-direction: row;
  align-items: center;
}

.motherhood-description__left-part {
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-width: 513px;
}

.motherhood-description__title {
  font-size: 32px;
  font-family: var(--font-family-base);
  font-weight: 600;
  color: var(--primary-font-color-black);
  line-height: 1.2;
}

.motherhood-description__right-part{
  
}

.motherhood-description__img {
  border-radius: 16px;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 55px;
  min-height: 69px;
}

.hero {
  margin-top: auto;
  margin-bottom: 150px;
  font-size: 40px;
  font-family: var(--font-family-title);
  font-weight: 800;
  color: var(--primary-font-color-white);
  text-align: left;
  line-height: 1.2;
  letter-spacing: 0px;
}

.hero__subtitle {
  font-weight: 300;
  font-family: var(--font-family-title);
  font-size: 80px;
  color: var(--primary-font-color-white);
  font-style: italic;
  padding-left: 70px;
}

.motherhood-description__link {
  text-decoration: underline;
  text-underline-offset: 10px;
  font-size: 16px;
  font-family: var(--font-family-base);
  font-weight: 600;
  color: var(--primary-font-color-black);
}

.tips-for-mom__title {
  font-size: 32px;
  font-family: var(--font-family-base);
  font-weight: 800;
  margin-bottom: 28px;
  color: #111;
}

.tips-for-mom__list {
  display: flex;
  flex-direction: column;
  gap: 38px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.tips-for-mom__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 21px;
  

  grid-template-areas: "large-area small-area";
}


.tips-for-mom__left-part {
  grid-area: large-area;
}

.tips-for-mom__right {
  grid-area: small-area;
}

.tips-for-mom__content--reversed {
  grid-template-areas: "small-area large-area";
}

.tips-for-mom__card {
  position: relative;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
}

.tips-for-mom__card img {
  width: 100%;
  display: block;
  border-radius: 12px;
}

.tips-for-mom__card-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 9px;
}

.tips-for-mom__card-subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 0;

}

.tips-for-mom__card--large {
  grid-row: span 2;
}

.tips-for-mom__right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 21px;
}

.tips-for-mom_button-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.generic-button {
  padding-inline: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--primary-background-red-color);
  color: var(--primary-font-color-white);
  border-radius: 1000px;
  cursor: pointer;
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 600;
  border: none;
  justify-self: center;
}

.tips-for-mom__button {
  letter-spacing: 1.1px;
}
