@import "./style.css";

:root {
  --primary-background-white-color: #F0EFEE;
  --primary-background-red-color: #7F3E41;
  --primary-font-color-white: #fff;
  --primary-font-color-black: #000;
  --container-width: 1175px;
  --container-padding-x: 0px;
  --border-radius: 1000px;
  --input-height: 35px;
  --input-border-color: #fff;
  --primary-font-size: 16px;
  --font-family-base: 'Inter', sans-serif;
  --font-family-title: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-family-base);
  color: var(--primary-font-color-black);
  background-color: var(--primary-background-white-color);
  font-size: var(--primary-font-size);
  line-height: 1.6;
}

.container {
  max-width: calc(var(--container-width) + (var(--container-padding-x) * 2));
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.welcome-wrapper {
  background-image: url('../img/priscilla-du-preez-I-zSrQnLlX0-unsplash.jpg');
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 870px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-column: 2;
}

.header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 22px;
  grid-column: 3;
}

.header__menu-list {
  display: flex;
  gap: 40px;
  flex-direction: row;
  padding-right: 20px;
}

.header__menu-item {
  line-height: 1.2;
}

.header__menu-link {
  text-decoration: none;
  color: var(--primary-font-color-white);
  font-size: var(--primary-font-size);
  font-family: var(--font-family-base);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 55px;
  min-height: 69px;
}

.header__menu-button {
  padding-inline: 28px;
}

.header__menu-button-white {
  background-color: white;
  color: #000;
  border-radius: 1000px;
  cursor: pointer;
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  border: none;
}

.header__search-link {
  text-decoration: none;
  color: var(--primary-font-color-white);
  font-size: var(--primary-font-size);
  font-family: var(--font-family-base);
  padding: 0 16px;
}

.main__section {
  padding-top: 80px;
  margin-bottom: 80px;
}

.main__section:last-child {
  margin-bottom: 0px;
}

.motherhood-description__content {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  flex-direction: row;
}

.motherhood-description__left-part {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.motherhood-description__title {
  font-size: 32px;
  font-family: var(--font-family-base);
  font-weight: 600;
  color: var(--primary-font-color-black);
}

.motherhood-description__right-part{
  
}

.motherhood-description__img {
  width: 463px;
  object-fit: cover;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 55px;
  min-height: 69px;
}

.hero {
  margin-top: auto;
  margin-bottom: 150px;
  font-size: 40px;
  font-family: var(--font-family-title);
  font-weight: 800;
  color: var(--primary-font-color-white);
  text-align: left;
  line-height: 1.2;
  letter-spacing: 3px;
}

.hero__subtitle {
  font-weight: 300;
  font-family: var(--font-family-title);
  font-size: 80px;
  color: var(--primary-font-color-white);
  font-style: italic;
}